[submodule "app/manual"]
	path = app/manual
	url = https://github.com/zedapp/manual.git
[submodule "app/config/packages/gh/zedapp/javascript-mode"]
	path = app/config/packages/gh/zedapp/javascript-mode
	url = https://github.com/zedapp/javascript-mode.git
[submodule "app/config/packages/gh/zedapp/css-mode"]
	path = app/config/packages/gh/zedapp/css-mode
	url = https://github.com/zedapp/css-mode.git
[submodule "app/config/packages/gh/zedapp/php-mode"]
	path = app/config/packages/gh/zedapp/php-mode
	url = https://github.com/zedapp/php-mode.git
[submodule "app/config/packages/gh/zedapp/jsx-mode"]
	path = app/config/packages/gh/zedapp/jsx-mode
	url = https://github.com/zedapp/jsx-mode.git
[submodule "app/config/packages/gh/zedapp/json-mode"]
	path = app/config/packages/gh/zedapp/json-mode
	url = https://github.com/zedapp/json-mode.git
[submodule "app/config/packages/gh/zedapp/json5-mode"]
	path = app/config/packages/gh/zedapp/json5-mode
	url = https://github.com/zedapp/json5-mode.git
[submodule "app/config/packages/gh/zedapp/follow-complete"]
	path = app/config/packages/gh/zedapp/follow-complete
	url = https://github.com/zedapp/follow-complete.git
[submodule "app/config/packages/gh/zedapp/bracket-check"]
	path = app/config/packages/gh/zedapp/bracket-check
	url = https://github.com/zedapp/bracket-check.git
[submodule "app/ace"]
	path = app/ace
	url = https://github.com/zefhemel/ace-builds.git
[submodule "app/config/packages/gh/zedapp/snippets"]
	path = app/config/packages/gh/zedapp/snippets
	url = https://github.com/zedapp/snippets.git
[submodule "app/config/packages/gh/zedapp/staticserver"]
	path = app/config/packages/gh/zedapp/staticserver
	url = https://github.com/zedapp/staticserver.git
[submodule "app/config/packages/gh/zedapp/python-mode"]
	path = app/config/packages/gh/zedapp/python-mode
	url = https://github.com/zedapp/python-mode.git
[submodule "app/config/packages/gh/zedapp/config-ui"]
	path = app/config/packages/gh/zedapp/config-ui
	url = https://github.com/zedapp/config-ui.git
