[Desktop Entry]
Name=Zed
Comment=A text and code editor for power users.
Exec=%PREFIX%/lib/zed/zed %U
Icon=%PREFIX%/lib/zed/Zed.svg
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;TextEditor;
