body {
    font-family: Tahoma, Arial;
    overflow: hidden;
    background-color: #fff;
}
#sandbox {
    z-index: 500;
    position: absolute;
    left: 50px;
    right: 0;
    top: 50px;
    width: 500px;
    height: 200px;
}
.inactive-editor {
    opacity: 0.80;
}
div.editor-single {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
div.editor-disabled {
    display: none;
}
div.editor-vsplit2-left-0 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
}
div.editor-vsplit2-right-0 {
    position: absolute;
    border-left: 1px solid #aaa;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
}
div.editor-vsplit2-left-1 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 33.33%;
}
div.editor-vsplit2-right-1 {
    position: absolute;
    border-left: 1px solid #aaa;
    top: 0;
    right: 0;
    bottom: 0;
    width: 66.66%;
}
div.editor-vsplit2-left-2 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 66.66%;
}
div.editor-vsplit2-right-2 {
    position: absolute;
    border-left: 1px solid #aaa;
    top: 0;
    right: 0;
    bottom: 0;
    width: 33.33%;
}
div.editor-vsplit3-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 33.33%;
}
div.editor-vsplit3-middle {
    position: fixed;
    border-left: 1px solid #aaa;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -16.666%;
    width: 33.33%;
}
div.editor-vsplit3-right {
    position: absolute;
    border-left: 1px solid #aaa;
    top: 0;
    right: 0;
    bottom: 0;
    width: 33.3%;
}
div.pathbar-single {
    right: 0;
    left: 0;
}
div.pathbar-disabled {
    display: none;
}
div.pathbar-vsplit2-left-0 {
    left: 0;
    width: 50%;
}
div.pathbar-vsplit2-right-0 {
    right: 0;
    width: 50%;
}
div.pathbar-vsplit2-left-1 {
    left: 0;
    width: 33.33%;
}
div.pathbar-vsplit2-right-1 {
    right: 0;
    width: 66.66%;
}
div.pathbar-vsplit2-left-2 {
    left: 0;
    width: 66.66%;
}
div.pathbar-vsplit2-right-2 {
    right: 0;
    width: 33.33%;
}
div.pathbar-vsplit3-left {
    left: 0;
    width: 33.33%;
}
div.pathbar-vsplit3-middle {
    left: 50%;
    margin-left: -16.666%;
    width: 33.33%;
}
div.pathbar-vsplit3-right {
    right: 0;
    width: 33.3%;
}
div.preview-vsplit2-right-0 {
    position: absolute;
    border-left: 1px solid #aaa;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
}
div.preview-vsplit2-right-1 {
    position: absolute;
    border-left: 1px solid #aaa;
    top: 0;
    right: 0;
    bottom: 0;
    width: 66.66%;
}
div.preview-vsplit2-right-2 {
    position: absolute;
    border-left: 1px solid #aaa;
    top: 0;
    right: 0;
    bottom: 0;
    width: 33.33%;
}
#preview {
    position: absolute;
    display: block;
    border: 0;
    height: 100%;
    width: 100%;
}
#goto {
    position: fixed;
    padding: 0;
    z-index: 1000;
    font-family:'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 12px;
    top: 22px;
    background: #aaa;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
body.dark #goto {
    background: #222;
}
#goto input {
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline-width: 0;
    border: 0;
    padding: 2px 8px 2px 8px;
    font-family:'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    background-color: #aaa;
    color: #000;
}
body.dark #goto input {
    background-color: #000;
    color: #fff;
}
#gotohint {
    border-right: solid 1px #888;
    border-left: solid 1px #888;
    background: #666;
    color: #fff;
    margin-top: -3px;
    padding: 2px;
    font-size: 11px;
}
#results {
    border-right: solid 1px #888;
    border-left: solid 1px #888;
    border-bottom: solid 1px #888;
}
#results .ace_autocomplete {
    position: relative !important;
    box-shadow: none !important;
    width: 100% !important;
    background: none;
    border: 0 !important;
}
.pathbar {
    position: absolute;
    top: 25px;
    z-index: 999;
    text-align: center;
    color: #555;
}
body.dark .pathbar {
    color: #ccc;
}
body.dark .pathbar.active {
    color: #fff;
}
.pathbar.active {
    color: #000;
}
.pathbar .path {
    font-family:'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 13px;
    font-weight: normal;
    margin: 0 auto;
    display: inline-block;
    padding: 2px 8px 2px 8px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #aaa;
    -webkit-app-region: no-drag;
}
body.dark .pathbar .path {
    background-color: #000;
}
.pathbar .info {
    position: absolute;
    right: 10px;
    top: 0;
    font-family:'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 12px;
    color: #777;
}
.pathbar .error {
    color: red;
}
.hidden {
    display: none;
}
.ace_editor.ace_autocomplete {
    width: 400px !important;
}
body.dark .ace_autocomplete {
    background-color: #888;
    color: #ccc;
    border-top: 0;
    border-top: 1px dotted #888;
    border-right: 1px solid #888;
    border-left: 1px solid #888;
    border-bottom: 1px solid #888;
}
body.dark .ace_rightAlignedText {
    color: #bbb;
}
body.dark .insert-mode .ace_cursor {
    opacity: 1;
    border-left: 2px solid #eee;
}
.ace_autocomplete .ace_completion-highlight {
    text-decoration: underline;
    text-shadow: none !important;
    color: #333 !important;
}
body.dark .ace_autocomplete .ace_completion-highlight {
    color: #fff !important;
}
.ace_line-hover {
    border: 0 !important;
    background: #eee !important;
}
body.dark .ace_line-hover {
    background: #555 !important;
}
.ace_autocomplete .ace_active-line {
    background-color: #eee !important;
}
body.dark .ace_autocomplete .ace_active-line {
    background-color: #555 !important;
}
body .ace_autocomplete .ace_line {
    margin-left: 16px;
}
.actionbox.ace_autocomplete {
    background: #eee !important;
}
.tree {
    position: fixed;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    background: #fff;
    padding: 0;
    z-index: 999;
    font-family:'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 12px;
    max-height: 80%;
    overflow: scroll;
}
.dynatree-container {
    border: none !important;
    background-color: #fff;
}
body.dark .dynatree-container {
    background-color: #000;
}
body.dark .dynatree-container a {
    color: #ddd;
}
body.dark .dynatree-focused a:link {
    background-color: #333;
}
#blockui {
    position: absolute;
    font-family:'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 14px;
    top: 25px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding-top: 100px;
    background-color: #eee;
    z-index: 9999;
}
#blockui img {
}
#dialog {
    position: fixed;
    border: solid 1px #ccc;
    color: #000;
    font-family:'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 14px;
    padding: 10px;
    left: 50%;
    top: 50%;
    background-color: white;
    z-index: 100;
    overflow: scroll;
}
#dialog input {
    font-size: 14px;
    font-family:'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline-width: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px dotted gray;
    border-top: 0;
}
#dialog div.buttons {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
body.non_mac ::-webkit-scrollbar {
    background: none;
}
body.non_mac ::-webkit-scrollbar-track-piece {
    margin: 4px;
}
body.non_mac ::-webkit-scrollbar-thumb {
    border: solid 0 transparent;
    border-right-width: 4px;
    border-left-width: 4px;
    -webkit-border-radius: 9px 4px;
    -webkit-box-shadow: inset 0 0 0 1px rgba(128, 128, 128, 0.2), inset 0 0 0 4px rgba(128, 128, 128, 0.2);
}
body.non_mac ::-webkit-scrollbar-thumb:horizontal {
    border-right-width: 0;
    border-left-width: 0;
    border-top-width: 4px;
    border-bottom-width: 4px;
    -webkit-border-radius: 4px 9px;
}
body.non_mac ::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 0 1px rgba(128, 128, 128, 0.9), inset 0 0 0 4px rgba(128, 128, 128, 0.9);
}
body.mac.dark .ace_content {
    cursor: default;
}
/* Markers */
 .marker-highlight-warning {
    position: absolute;
    border-bottom: solid 1px #CCCC00;
    z-index: 1000;
}
.marker-highlight-error {
    position: absolute;
    border-bottom: solid 1px red;
    z-index: 1000;
}
.marker-highlight-info {
    position: absolute;
    border-bottom: solid 1px blue;
    z-index: 1000;
}
.dark .marker-highlight-info {
    position: absolute;
    border-bottom: solid 1px #9191FF;
    z-index: 1000;
}
#titlebar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    font-family:'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 13px;
    z-index: 1000;
    padding-left: 35px;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    background-color: #ccc;
    color: #fff;
    border-bottom: 1px solid #aaa;
}
body.dark #titlebar {
    background-color: #333;
    color: #000;
    border-bottom: 1px solid #111;
}
#titlebar .windowbuttons {
    position: absolute;
    -webkit-app-region: no-drag;
}
body.mac #titlebar .windowbuttons {
    top: 7px;
    left: 9px;
    width: 54px;
    height: 16px;
}
body.non_mac #titlebar .windowbuttons {
    right: 9px;
    top: 7px;
    width: 54px;
    height: 16px;
}
body.mac .windowbuttons .close {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../img/mac-buttons.png") 0 0;
}
body.mac .windowbuttons .maximize {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../img/mac-buttons.png") 15px 0;
    margin-left: 3px;
}
body.mac .windowbuttons .minimize {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../img/mac-buttons.png") 35px 0;
    margin-left: 3px;
}
body.non_mac .windowbuttons .close {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../img/win-buttons-light.png") 20px 0;
}
body.non_mac .windowbuttons .maximize {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../img/win-buttons-light.png") 0 0;
}
body.non_mac .windowbuttons .minimize {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../img/win-buttons-light.png") 35px 0;
}
body.non_mac.dark .windowbuttons .close {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../img/win-buttons.png") 20px 0;
}
body.non_mac.dark .windowbuttons .maximize {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../img/win-buttons.png") 0 0;
}
body.non_mac.dark .windowbuttons .minimize {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../img/win-buttons.png") 35px 0;
}
#titlebar .fullscreen {
    position: absolute;
    right: 5px;
    top: 2px;
    width: 20px;
    height: 20px;
    background: url("../img/light-fullscreen.png");
    background-size: 20px 20px;
    -webkit-app-region: no-drag;
}
body.dark #titlebar .fullscreen {
    background: url("../img/dark-fullscreen.png");
    background-size: 20px 20px;
}
body.non_mac #titlebar .fullscreen {
    position: absolute;
    right: inherit;
    left: 5px;
    top: 2px;
    width: 20px;
    height: 20px;
}
#titlebar .title {
    position: absolute;
    top: 5px;
    left: 60px;
    right: 60px;
    text-align: center;
    color: #000;
}
body.dark #titlebar .title {
    color: #fff;
}
#titlebar .title img {
    vertical-align: top;
    width: 16px;
    height: 16px;
    margin-right: 6px;
}
#editor0, #editor1, #editor2, #preview-wrapper {
    top: 46px;
}

.ace_ui_button {
    background-color: #0280AA;
    color: #BAEFF3;
    box-shadow: 0 0 10px #888;
}
