body {
    font-family: Tahoma, Arial;
    overflow-x: hidden;
    overflow-y: hidden;
}
div.editor-single {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
div.editor-disabled {
    display: none;
}
div.editor-vsplit2-left-0 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
}
div.editor-vsplit2-right-0 {
    position: absolute;
    border-left: 1px solid #aaa;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
}
div.editor-vsplit2-left-1 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 33.33%;
}
div.editor-vsplit2-right-1 {
    position: absolute;
    border-left: 1px solid #aaa;
    top: 0;
    right: 0;
    bottom: 0;
    width: 66.66%;
}
div.editor-vsplit2-left-2 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 66.66%;
}
div.editor-vsplit2-right-2 {
    position: absolute;
    border-left: 1px solid #aaa;
    top: 0;
    right: 0;
    bottom: 0;
    width: 33.33%;
}
div.editor-vsplit3-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 33.33%;
}
div.editor-vsplit3-middle {
    position: fixed;
    border-left: 1px solid #aaa;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -16.666%;
    width: 33.33%;
}
div.editor-vsplit3-right {
    position: absolute;
    border-left: 1px solid #aaa;
    top: 0;
    right: 0;
    bottom: 0;
    width: 33.3%;
}
div.preview-vsplit2-right-0 {
    position: absolute;
    border-left: 1px solid #aaa;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
}
div.preview-vsplit2-right-1 {
    position: absolute;
    border-left: 1px solid #aaa;
    top: 0;
    right: 0;
    bottom: 0;
    width: 66.66%;
}
div.preview-vsplit2-right-2 {
    position: absolute;
    border-left: 1px solid #aaa;
    top: 0;
    right: 0;
    bottom: 0;
    width: 33.33%;
}
#preview {
    position: absolute;
    display: block;
    border: 0;
    height: 100%;
    width: 100%;
}
#goto {
    position: fixed;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    background: #fff;
    padding: 0;
    z-index: 999;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 12px;
}
#goto input {
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline-width: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px dotted gray;
    border-top: 0;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
#goto ul {
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}
#goto li {
    position: relative;
    list-style-type: none;
    padding: 0;
}
#goto span.meta {
    position: absolute;
    top: 3px;
    right: 3px;
    color: #999;
}
#goto a {
    display: block;
    padding: 3px;
    text-decoration: none;
    color: black;
}
#goto a.ui-state-focus {
    background-color: #33CCFF;
}
#gotohint {
    background: #eee;
    margin-top: -3px;
    padding: 2px;
    font-size: 11px;
}
.editbar {
    position: absolute;
    bottom: 0;
    height: 25px;
    background-color: #eee;
    border: 1px solid #aaa;
    z-index: 999;
}
.editbar.active {
    background-color: #ddd;
}
.editbar .path {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 13px;
    line-height: 25px;
    padding-left: 5px;
}
.editbar input {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline-width: 0;
    border: 0;
    padding-left: 5px;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 13px;
    line-height: 21px;
    background-color: #eee;
}
.editbar .info {
    position: absolute;
    right: 0;
    top: 0;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 10px;
    line-height: 25px;
    padding-right: 5px;
    color: #777;
}
.editbar .error {
    color: red;
}
.hidden {
    display: none;
}

.ace_autocomplete {
    width: 300px;
}

.ace_completion-highlight {
    text-decoration: underline;
    text-shadow: none !important;
}

.ace_line-hover {
    border: 0 !important;
    background: #33CCFF !important;
}

.ace_autocomplete .ace_active-line {
    background-color: #33CCFF !important;
}

#tree {
    position: fixed;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    background: #fff;
    padding: 0;
    z-index: 999;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 12px;
    max-height: 80%;
    overflow: scroll;
}

#blockui {
    position: absolute;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 14px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: #fff;
}

#dialog {
    position: fixed;
    border: solid 1px #ccc;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 14px;
    padding: 10px;
    left: 50%;
    top: 50%;
    background-color: white;
    z-index: 100;
}
#dialog input {
    font-size: 14px;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline-width: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px dotted gray;
    border-top: 0;
}
#dialog div.buttons {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
::-webkit-scrollbar {
  background: none;
}
::-webkit-scrollbar-track-piece {
  margin: 4px;
}
::-webkit-scrollbar-thumb {
    border: solid 0 transparent;
    border-right-width: 4px;
    border-left-width: 4px;
    -webkit-border-radius: 9px 4px;
    -webkit-box-shadow:
      inset 0 0 0 1px rgba(128,128,128,0.5),
      inset 0 0 0 4px rgba(128,128,128,0.5);
}
::-webkit-scrollbar-thumb:horizontal {
    border-right-width: 0;
    border-left-width: 0;
    border-top-width: 4px;
    border-bottom-width: 4px;
    -webkit-border-radius: 4px 9px;
}
::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow:
      inset 0 0 0 1px rgb(128,128,128),
      inset 0 0 0 4px rgb(128,128,128);
}
