#status {
    background: yellow;
}
body {
    margin: 0;
    font-family:'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
#goto {
    width: 100%;
    font-family:'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 14px;
}
input[type=text] {
    font-size: 14px;
    font-family:'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    -webkit-box-sizing: border-box;
    outline-width: 0;
    border: 0;
    border-top: 1px dotted gray;
}
input[type=submit] {
    visibility: hidden;
    height: 0;
}
.hint {
    border-top: 1px dotted gray;
    font-size: 12px;
    padding: 5px;
}
.hint .error {
    color: red;
}
.projects {
    border-top: 1px solid #aaa;
}
.projects a {
    display: block;
    position: relative;
    text-decoration: none;
    background-color: #eee;
    color: #000;
    font-size: 13px;
    padding: 8px;
    border-bottom: 1px solid #aaa;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    padding-left: 35px;
}
.projects a img {
    position: absolute;
    left: 8px;
    top: 8px;
    width: 18px;
    height: 18px;
}
#projects h1 {
    font-size: 14px;
    font-weight: bold;
    margin: 8px;
}
#projects a.active {
    background-color: #33CCFF;
}
#sandbox {
    z-index: 500;
    position: absolute;
    left: 50px;
    right: 0;
    top: 50px;
    width: 500px;
    height: 200px;
}
#update-available {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F2E68A;
    border-top: 1px solid #333;
    z-index: 10;
    display: none;
    padding: 8px;
}
#update-error {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FF9900;
    border-top: 1px solid #333;
    font-size: 12px;
    z-index: 10;
    display: none;
    padding: 8px;
}
