<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>Label</key>
	<string>zed.local</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/zed</string>
		<string>--local</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
