body {
    font-family: Tahoma, Arial;
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#goto {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -30%;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    background: #fff;
    padding: 10px;
    width: 70%;
    z-index: 999;
}

#goto input {
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

li.selected {
    background-color: #ccc;
}
